Initial Analysis

In [ ]:
import pandas as pd
import numpy as np

population_data = pd.read_csv("population_state.csv")
population_data.head()

   state        date   sex      age ethnicity  population
0  Johor  1970-01-01  both  overall   overall      1325.6
1  Johor  1970-01-01  both      0-4   overall       210.1
2  Johor  1970-01-01  both      5-9   overall       215.7
3  Johor  1970-01-01  both    10-14   overall       192.2
4  Johor  1970-01-01  both    15-19   overall       152.8

In [2]:
population_data["state"].unique()

array(['Johor', 'Kedah', 'Kelantan', 'Melaka', 'Negeri Sembilan',
       'Pahang', 'Perak', 'Perlis', 'Pulau Pinang', 'Sabah', 'Sarawak',
       'Selangor', 'Terengganu', 'W.P. Kuala Lumpur', 'W.P. Labuan',
       'W.P. Putrajaya'], dtype=object)

In [3]:
population_data["date"].unique()

array(['1970-01-01', '1971-01-01', '1972-01-01', '1973-01-01',
       '1974-01-01', '1975-01-01', '1976-01-01', '1977-01-01',
       '1978-01-01', '1979-01-01', '1980-01-01', '1981-01-01',
       '1982-01-01', '1983-01-01', '1984-01-01', '1985-01-01',
       '1986-01-01', '1987-01-01', '1988-01-01', '1989-01-01',
       '1990-01-01', '1991-01-01', '1992-01-01', '1993-01-01',
       '1994-01-01', '1995-01-01', '1996-01-01', '1997-01-01',
       '1998-01-01', '1999-01-01', '2000-01-01', '2001-01-01',
       '2002-01-01', '2003-01-01', '2004-01-01', '2005-01-01',
       '2006-01-01', '2007-01-01', '2008-01-01', '2009-01-01',
       '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01',
       '2014-01-01', '2015-01-01', '2016-01-01', '2017-01-01',
       '2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01',
       '2022-01-01', '2023-01-01', '2024-01-01', '2025-01-01'],
      dtype=object)

In [4]:
population_data["age"].unique()

array(['overall', '0-4', '5-9', '10-14', '15-19', '20-24', '25-29',
       '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64',
       '65-69', '70+', '70-74', '75-79', '80+', '80-84', '85+'],
      dtype=object)

In [5]:
population_data["ethnicity"].unique()

array(['overall', 'bumi', 'chinese', 'indian', 'other', 'bumi_malay',
       'bumi_other', 'other_citizen', 'other_noncitizen'], dtype=object)

In [6]:
population_data["sex"].unique()

array(['both', 'female', 'male'], dtype=object)

In [7]:
population_data["state"].unique()

array(['Johor', 'Kedah', 'Kelantan', 'Melaka', 'Negeri Sembilan',
       'Pahang', 'Perak', 'Perlis', 'Pulau Pinang', 'Sabah', 'Sarawak',
       'Selangor', 'Terengganu', 'W.P. Kuala Lumpur', 'W.P. Labuan',
       'W.P. Putrajaya'], dtype=object)

Checking when age and ethnicity has current values

In [13]:
without_overall_population = population_data[~population_data[["sex", "age", "ethnicity"]]
                                             .isin(["overall", "both"]).any(axis = 1)].copy()
without_overall_population.head()

     state        date     sex  age ethnicity  population
576  Johor  1980-01-01  female  0-4      bumi        62.3
577  Johor  1980-01-01  female  0-4   chinese        41.6
578  Johor  1980-01-01  female  0-4    indian         7.5
579  Johor  1980-01-01  female  0-4     other         0.2
581  Johor  1980-01-01  female  5-9      bumi        60.0

In [14]:
without_overall_population["year"] = pd.to_datetime(without_overall_population["date"]).dt.year
without_overall_population.head()

     state        date     sex  age ethnicity  population  year
576  Johor  1980-01-01  female  0-4      bumi        62.3  1980
577  Johor  1980-01-01  female  0-4   chinese        41.6  1980
578  Johor  1980-01-01  female  0-4    indian         7.5  1980
579  Johor  1980-01-01  female  0-4     other         0.2  1980
581  Johor  1980-01-01  female  5-9      bumi        60.0  1980

In [16]:
without_overall_population["exists"] = 1
table = without_overall_population.pivot_table(index = "year", columns= "age", values="exists",
                                               aggfunc= "max", fill_value = 0)
table

age,0-4,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,5-9,50-54,55-59,60-64,65-69,70-74,75-79,80+,80-84,85+
year,,,,,,,,,,,,,,,,,,,
1980,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1981,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1982,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1983,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1984,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1985,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1986,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1987,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1988,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1989,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1990,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
1991,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
1992,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
1993,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
1994,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
1995,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
1996,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
1997,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
1998,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
1999,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2000,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2001,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2002,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2003,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2004,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2005,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2006,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2007,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2008,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2009,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2010,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2011,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2012,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2013,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2014,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2015,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2016,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2017,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2018,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2019,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2020,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2021,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2022,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2023,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2024,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2025,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1

In [17]:
without_overall_population["exists"] = 1
table = without_overall_population.pivot_table(index = "year", columns= "ethnicity", values="exists",
                                               aggfunc= "max", fill_value = 0)
table

ethnicity,bumi,bumi_malay,bumi_other,chinese,indian,other,other_citizen,other_noncitizen
year,,,,,,,,
1980,1,0,0,1,1,1,0,0
1981,1,0,0,1,1,1,0,0
1982,1,0,0,1,1,1,0,0
1983,1,0,0,1,1,1,0,0
1984,1,0,0,1,1,1,0,0
1985,1,0,0,1,1,1,0,0
1986,1,0,0,1,1,1,0,0
1987,1,0,0,1,1,1,0,0
1988,1,0,0,1,1,1,0,0
1989,1,0,0,1,1,1,0,0
1990,1,0,0,1,1,1,0,0
1991,0,1,1,1,1,0,1,1
1992,0,1,1,1,1,0,1,1
1993,0,1,1,1,1,0,1,1
1994,0,1,1,1,1,0,1,1
1995,0,1,1,1,1,0,1,1
1996,0,1,1,1,1,0,1,1
1997,0,1,1,1,1,0,1,1
1998,0,1,1,1,1,0,1,1
1999,0,1,1,1,1,0,1,1
2000,0,1,1,1,1,0,1,1
2001,0,1,1,1,1,0,1,1
2002,0,1,1,1,1,0,1,1
2003,0,1,1,1,1,0,1,1
2004,0,1,1,1,1,0,1,1
2005,0,1,1,1,1,0,1,1
2006,0,1,1,1,1,0,1,1
2007,0,1,1,1,1,0,1,1
2008,0,1,1,1,1,0,1,1
2009,0,1,1,1,1,0,1,1
2010,0,1,1,1,1,0,1,1
2011,0,1,1,1,1,0,1,1
2012,0,1,1,1,1,0,1,1
2013,0,1,1,1,1,0,1,1
2014,0,1,1,1,1,0,1,1
2015,0,1,1,1,1,0,1,1
2016,0,1,1,1,1,0,1,1
2017,0,1,1,1,1,0,1,1
2018,0,1,1,1,1,0,1,1
2019,0,1,1,1,1,0,1,1
2020,0,1,1,1,1,0,1,1
2021,0,1,1,1,1,0,1,1
2022,0,1,1,1,1,0,1,1
2023,0,1,1,1,1,0,1,1
2024,0,1,1,1,1,0,1,1
2025,0,1,1,1,1,0,1,1

In [23]:
with_overall_population = population_data[(population_data["age"] == "overall") &
                                          (population_data["ethnicity"] == "overall") &
                                          (population_data["sex"] == "both")].copy()
with_overall_population.head()

     state        date   sex      age ethnicity  population
0    Johor  1970-01-01  both  overall   overall      1325.6
48   Johor  1971-01-01  both  overall   overall      1355.4
96   Johor  1972-01-01  both  overall   overall      1385.3
144  Johor  1973-01-01  both  overall   overall      1414.5
192  Johor  1974-01-01  both  overall   overall      1444.4